include ../../.public/pug/mixin
+head(title="网页标题", import=true, jquery=true)
body
	script(src="images/jquery.superSlide.js")
	.baaner.clearfix
		.badge
		p 中国人民政治协商会议
		h1 重庆市第五届委员会第三次会议
	.nav
		ul.content.clearfix
			li.fl-l.goto_floor.active
				a(href="javascript:;") 首页
			li.fl-l.goto_floor
				a(href="javascript:;") 会议要闻
			li.fl-l.goto_floor
				a(href="javascript:;") 会议动态
			li.fl-l.goto_floor
				a(href="javascript:;") 工作报告
			li.fl-l.goto_floor
				a(href="javascript:;") 委员好声音
			li.fl-l.goto_floor
				a(href="javascript:;") 现场直击
			li.fl-l.goto_floor
				a(href="javascript:;") 会场内外
			li.fl-l.goto_floor
				a(href="javascript:;") 媒体报道
	.title.clearfix.floor1.bgc
		.log.fl-l
		.word.fl-l.bd
			ul
				li
					h1 北京市政协十三届三次会议胜利闭幕1
					p 9月23日，“伟大历程 辉煌成就——庆祝中华人民共和国成立70周年大型成就展”在北京展览馆开幕
				li
					h1 北京市政协十三届三次会议胜利闭幕2
					p 9月23日，“伟大历程 辉煌成就——庆祝中华人民共和国成立70周年大型成就展”在北京展览馆开幕
				li
					h1 北京市政协十三届三次会议胜利闭幕3
					p 9月23日，“伟大历程 辉煌成就——庆祝中华人民共和国成立70周年大型成就展”在北京展览馆开幕
				li
					h1 北京市政协十三届三次会议胜利闭幕4
					p 9月23日，“伟大历程 辉煌成就——庆祝中华人民共和国成立70周年大型成就展”在北京展览馆开幕
				li
					h1 北京市政协十三届三次会议胜利闭幕5
					p 9月23日，“伟大历程 辉煌成就——庆祝中华人民共和国成立70周年大型成就展”在北京展览馆开幕
		.date.fl-r.hd
			.date-title 会议日程
			ul.date-day.clearfix
				li.fl-l 10日
				li.fl-l 11日
				li.fl-l 12日
				li.fl-l 13日
				li.fl-l 14日
			.date-month 1月
	.line
	.summary.clearfix.article1
		.lbleft.fl-l
			.hd
				ul
					li.fl-l
					li.fl-l
					li.fl-l
			.bd
				ul
					li
						img(src="images/picture1.png")
						.text
							p 市领导看望报道市政协全会记者
					li
						img(src="images/picture2.png")
						.text
							p 市政协常委、民建市委会副主委
					li
						img(src="images/picture3.png")
						.text
							p 市政协常委、民建市委会副主委市政协常委、民建市委会副主委市政协常委、民建市委会副主委
		.right.fl-l.article1-right
			ul.content-list
				- var arr = ['新中国峥嵘岁月｜加快构建中国特色哲学社会科学','问答70年”，为何《我的祖国》成为最感人的歌？','新中国峥嵘岁月丨统一全党思想、推动全面调整 1963年:石油基本自给是的发送到','新中国峥嵘岁月｜“搞一个实事求是年” 勇攀世界高峰','新中国峥嵘岁月｜加快构建中国特色哲学社会科学','问答70年”，为何《我的祖国》成为最感人的歌？','新中国峥嵘岁月｜加快构建中国特色哲学社会科学'];
				each item in arr
					li.content-list-li
						span.fl-l ·
						a.fl-r(href="javascrit:;")= item
	.article1.floor2.bgc
		.article1-left.fl-l
			.box-title 会议动态
				a.more-right(href="javascrit:;") 更多
			ul.content-list
				- var arr = ['新中国峥嵘岁月｜加快构建中国特色哲学社会科学','问答70年”，为何《我的祖国》成为最感人的歌？','新中国峥嵘岁月丨统一全党思想、推动全面调整 1963年:石油基本自给','新中国峥嵘岁月｜“搞一个实事求是年” 勇攀世界高峰','新中国峥嵘岁月｜加快构建中国特色哲学社会科学','问答70年”，为何《我的祖国》成为最感人的歌？'];
				each item in arr
					li.content-list-li
						span.fl-l ·
						a.fl-r(href="javascrit:;")= item
		.article1-right.fl-r
			.box-title 工作报告
				a.more-right(href="javascrit:;") 更多
			ul.content-list
				- var arr = ['新中国峥嵘岁月｜加快构建中国特色哲学社会科学','问答70年”，为何《我的祖国》成为最感人的歌？','新中国峥嵘岁月丨统一全党思想、推动全面调整 1963年:石油基本自给','新中国峥嵘岁月｜“搞一个实事求是年” 勇攀世界高峰','新中国峥嵘岁月｜加快构建中国特色哲学社会科学','问答70年”，为何《我的祖国》成为最感人的歌？'];
				each item in arr
					li.content-list-li
						span.fl-l ·
						a.fl-r(href="javascrit:;")= item
	.picture.floor3.bgc
		.box-title 委员好声音
		.slideTxtBox
			.hd
				ul
					li
					li
			.bd
				ul
					li
						.good-voice-ul
							.good-voice-li.fl-l
								.avatar.fl-l
									img(src="images/picture1.png")
								.introduce.fl-r
									.name 王梓涵
									.status 市政协常委、民建市委会副主委、市场及安监局副局长
									.info 市政协五届二次全会上，我将重点关注大南山景区在生态环境、产业转型、基础设施改善等方面的问题。 最多三行三行。
							.good-voice-li.fl-l.good-voice-li-no
								.avatar.fl-l
									img(src="images/picture2.png")
								.introduce.fl-r
									.name 王梓涵
									.status 市政协常委、民建市委会副主委、市场及安监局副局长
									.info 市政协五届二次全会上，我将重点关注大南山景区在生态环境、产业转型、基础设施改善等方面的问题。 最多三行三行。
							.good-voice-li.fl-l
								.avatar.fl-l
									img(src="images/picture3.png")
								.introduce.fl-r
									.name 王梓涵
									.status 市政协常委、民建市委会副主委、市场及安监局副局长
									.info 市政协五届二次全会上，我将重点关注大南山景区在生态环境、产业转型、基础设施改善等方面的问题。 最多三行三行。
							.good-voice-li.fl-l.good-voice-li-no
								.avatar.fl-l
									img(src="images/picture4.png")
								.introduce.fl-r
									.name 王梓涵
									.status 市政协常委、民建市委会副主委、市场及安监局副局长
									.info 市政协五届二次全会上，我将重点关注大南山景区在生态环境、产业转型、基础设施改善等方面的问题。 最多三行三行。
					li
						.good-voice-ul
							.good-voice-li.fl-l
								.avatar.fl-l
									img(src="images/picture5.png")
								.introduce.fl-r
									.name 王梓涵
									.status 市政协常委、民建市委会副主委、市场及安监局副局长
									.info 市政协五届二次全会上，我将重点关注大南山景区在生态环境、产业转型、基础设施改善等方面的问题。 最多三行三行。
							.good-voice-li.fl-l.good-voice-li-no
								.avatar.fl-l
									img(src="images/picture6.png")
								.introduce.fl-r
									.name 王梓涵
									.status 市政协常委、民建市委会副主委、市场及安监局副局长
									.info 市政协五届二次全会上，我将重点关注大南山景区在生态环境、产业转型、基础设施改善等方面的问题。 最多三行三行。
							.good-voice-li.fl-l
								.avatar.fl-l
									img(src="images/picture7.png")
								.introduce.fl-r
									.name 王梓涵
									.status 市政协常委、民建市委会副主委、市场及安监局副局长
									.info 市政协五届二次全会上，我将重点关注大南山景区在生态环境、产业转型、基础设施改善等方面的问题。 最多三行三行。
							.good-voice-li.fl-l.good-voice-li-no
								.avatar.fl-l
									img(src="images/picture8.png")
								.introduce.fl-r
									.name 王梓涵
									.status 市政协常委、民建市委会副主委、市场及安监局副局长
									.info 市政协五届二次全会上，我将重点关注大南山景区在生态环境、产业转型、基础设施改善等方面的问题。 最多三行三行。
	.picture.floor4.bgc.picture1
		.box-title 现场直击
		ul.picture-title
			li.li1.fl-l(data-index="1").active 委员报道
			li.li2.fl-l(data-index="2") 开闭幕式
			li.li3.fl-l(data-index="3") 联组会
			li.li4.fl-l(data-index="4") 小组会
			li.li5.fl-l(data-index="5") 记者会
		ul.picture-list1.picture-list
			- var arr = ['images/picture1.png','images/picture2.png','images/picture3.png','images/picture4.png','images/picture5.png','images/picture6.png','images/picture7.png','images/picture8.png'];
			each item in arr
					li.fl-l
						img(src=item)
		ul.picture-list2.picture-list
			- var arr = ['images/picture2.png','images/picture1.png','images/picture3.png','images/picture4.png','images/picture5.png','images/picture6.png','images/picture7.png','images/picture8.png'];
			each item in arr
					li.fl-l
						img(src=item)
		ul.picture-list3.picture-list
			- var arr = ['images/picture3.png','images/picture2.png','images/picture1.png','images/picture4.png','images/picture5.png','images/picture6.png','images/picture7.png','images/picture8.png'];
			each item in arr
					li.fl-l
						img(src=item)
		ul.picture-list4.picture-list
			- var arr = ['images/picture4.png','images/picture2.png','images/picture3.png','images/picture1.png','images/picture5.png','images/picture6.png','images/picture7.png','images/picture8.png'];
			each item in arr
					li.fl-l
						img(src=item)
		ul.picture-list5.picture-list
			- var arr = ['images/picture5.png','images/picture2.png','images/picture3.png','images/picture4.png','images/picture1.png','images/picture6.png','images/picture7.png','images/picture8.png'];
			each item in arr
					li.fl-l
						img(src=item)
	.article2.floor5.bgc
		.article2-left.fl-l
			.box-title 会场内外
				a.more-right(href="javascrit:;") 更多
			ul.content-list
				- var arr = ['新中国峥嵘岁月｜加快构建中国特色哲学社会科学','问答70年”，为何《我的祖国》成为最感人的歌？','新中国峥嵘岁月丨统一全党思想、推动全面调整 1963年:石油基本自给','新中国峥嵘岁月｜“搞一个实事求是年” 勇攀世界高峰','新中国峥嵘岁月｜加快构建中国特色哲学社会科学','问答70年”，为何《我的祖国》成为最感人的歌？'];
				each item in arr
					li.content-list-li
						span.fl-l ·
						a.fl-r(href="javascrit:;")= item
		.article2-right.fl-r
			.box-title 媒体报道
				a.more-right(href="javascrit:;") 更多
			ul.content-list
				- var arr = ['新中国峥嵘岁月｜加快构建中国特色哲学社会科学','问答70年”，为何《我的祖国》成为最感人的歌？','新中国峥嵘岁月丨统一全党思想、推动全面调整 1963年:石油基本自给','新中国峥嵘岁月｜“搞一个实事求是年” 勇攀世界高峰','新中国峥嵘岁月｜加快构建中国特色哲学社会科学','问答70年”，为何《我的祖国》成为最感人的歌？'];
				each item in arr
					li.content-list-li
						span.fl-l ·
						a.fl-r(href="javascrit:;")= item